body{
    font-family: 'poppins',sans-serif;

}

header {
background-color: pink;
color: blueviolet;

}

.cabecalho-imagem{

  width: 40%;  
}
.cabecalho{

background-color: darkgrey;
color: black;
display:flex;
justify-content: space-around;
}

.cabecalho-lista-item{

display:inline-block;

}